body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.todo-container {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#todo-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todo-input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    width: 15%;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #f1f1f1;
    border-radius: 5px;
}